<app-header-app></app-header-app>
<body class="p-6" style="background-image: url('assets/images/fondo.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; min-height: 100vh;">
  <mat-card class="w-4/5 mx-auto p-6 bg-white">
    <mat-card-title class="text-center title p-3 rounded mb-6 text-lg font-semibold">
      ASIGNACIÓN DE ACTIVIDADES
    </mat-card-title>
  <form [formGroup]="activityform">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex items-center gap-2">
        <div class="pb-5 w-48 text-black">
          <label class="font-semibold">TAREA:</label>
        </div>
        <mat-form-field appearance="outline" class="w-full activitiesfields">
          <input matInput formControlName="task" [(ngModel)]="activityobject.task">
          <mat-error *ngIf="activityform.controls['task'].dirty && activityform.hasError('required') || activityform.controls['task'].invalid">Complete este campo es requerido!</mat-error>
        </mat-form-field>
      </div>

      <div class="flex items-center gap-2">
        <div class="pb-5 w-48 text-black">
          <label class="font-semibold">ÁREA O PROYECTO:</label>
        </div>
        <mat-form-field appearance="outline" class=" w-full activitiesfields">
          <input matInput formControlName="area" [(ngModel)]="activityobject.area">
          <mat-error *ngIf="activityform.controls['area'].dirty && activityform.hasError('required') || activityform.controls['area'].invalid">Complete este campo es requerido!</mat-error>
        </mat-form-field>
      </div>

      <div class="flex items-center gap-2">
        <div class="pb-5 w-48 text-black">
          <label class="font-semibold">FECHA DE ASIGNACIÓN:</label>
        </div>
        <mat-form-field appearance="outline" class="activitiesfields">
          <input matInput type="datetime-local" formControlName="asignation_date" [(ngModel)]="activityobject.asignation_date">
        </mat-form-field>
      </div>

      <div class="flex items-center gap-2">
        <div class="pb-5 w-48 text-black">
          <label class="font-semibold">FECHA LÍMITE:</label>
        </div>
        <mat-form-field appearance="outline" class="activitiesfields">
          <input matInput type="datetime-local" formControlName="limit_date" [(ngModel)]="activityobject.limit_date">
        </mat-form-field>
      </div>

      <div class="flex items-center gap-2">
        <div class="pb-5 w-48 text-black">
          <label class="font-semibold">DETALLE:</label>
        </div>
        <mat-form-field appearance="outline" class="md:col-span-2 activitiesfields">
          <textarea matInput rows="4" formControlName="detail" [(ngModel)]="activityobject.detail"></textarea>
          <mat-error *ngIf="activityform.controls['detail'].dirty && activityform.hasError('required') || activityform.controls['detail'].invalid">Complete este campo es requerido!</mat-error>
        </mat-form-field>
      </div>

      <div class="flex items-center gap-2">
        <div class="pb-5 w-48 text-black">
          <label class="font-semibold">PRIORIDAD:</label>
        </div>
        <mat-form-field appearance="outline" class="activitiesfields">
          <mat-select formControlName="priority" [(ngModel)]="activityobject.priority">
              <mat-option *ngFor="let priority of prioritybox" [value]="priority">
                {{ priority }}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="activityform.controls['priority'].dirty && activityform.hasError('required') || activityform.controls['priority'].invalid">Complete este campo es requerido!</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="flex items-center gap-2">
      <div class="pb-5 text-black" style="width: 89px;">
        <label class="font-semibold">ASIGNAR A:</label>
      </div>
      <mat-form-field appearance="outline" style="width: 466px;">
        <mat-select formControlName="user" [(ngModel)]="activityobject.user">
          <ng-container *ngFor="let user of userlist">
            <mat-option *ngIf="user.rol != 2" [value]="user.id">
              {{ user.name }}
            </mat-option>
          </ng-container>
        </mat-select>
        <mat-error *ngIf="activityform.controls['user'].dirty && activityform.hasError('required') || activityform.controls['user'].invalid">Complete este campo es requerido!</mat-error>
      </mat-form-field>
    </div>
  </form>

    <div class="flex justify-end mt-6 gap-2">
      <button mat-raised-button class="bg-green-300 px-6 text-black" (click)="onReset()">Restablecer</button>
      <button mat-raised-button class="bg-green-300 px-6 text-black" (click)="CreateActivity()">Crear</button>
    </div>
</mat-card>
</body>