<app-header-app (toggleSidebar)="opened = $event"></app-header-app>
<!-- Sidebar -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="opened" class="sidenav">
    <!-- Aquí irán los enlaces del navbar lateral -->
    <app-header-sidenav></app-header-sidenav> 
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="p-6" style="background-image: url('assets/images/fondo_2.png'); background-size: cover; background-repeat: no-repeat; background-position: center; min-height: 100vh;">
      <!-- Capa de fondo oscuro y barra de carga -->
      <div *ngIf="loading" class="overlay">
        <mat-spinner *ngIf="loading" diameter="70" class="loading-spinner"></mat-spinner>
      </div>
      <div class="flex items-center justify-between mb-4">
        <mat-card class="p-6 custom-card-bg">
        <div class="flex gap-8">
          <div class="flex flex-col gap-4">
            <div class="flex items-center gap-4">
              <div class="pb-5 widthlabels">
                <label class="font-semibold text-black">FECHA DE ENTRADA (Rango):</label>
              </div>
              <div>
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Fecha inicio</mat-label>
                  <input matInput [matDatepicker]="pickerStart" [(ngModel)]="startDate" (dateChange)="onStartDateChange()">
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Fecha fin</mat-label>
                  <input matInput [matDatepicker]="pickerEnd" [(ngModel)]="endDate" [disabled]="!startDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="pb-5">
                <button mat-raised-button class="bg-green-300 px-6 text-black rounded border border-black" (click)="deployproductsbyDateRange(startDate, endDate)">VER</button>
              </div>
            </div>
            <div class="flex items-center gap-4">
              <div class="pb-5 w-24">
                <label class="font-semibold text-black">DESCRIPCIÓN:</label>
              </div>
              <mat-form-field appearance="outline" class="w-full">
                <input matInput [(ngModel)]="productobject.description">
              </mat-form-field>
              <div class="pb-5">
                <button mat-raised-button class="bg-green-300 px-6 text-black rounded border border-black" (click)="deployproductsbyDescription(productobject.description)">VER</button>
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-4">
            <div class="flex items-center gap-4 paddingt">
              <div class="pb-5 w-24">
                <label class="font-semibold text-black">COD MINSA:</label>
              </div>
              <mat-form-field appearance="outline" class="w-full">
                <input matInput [(ngModel)]="productobject.minsa_code">
              </mat-form-field>
              <div class="pb-5">
                <button mat-raised-button class="bg-green-300 px-6 text-black rounded border border-black" (click)="deployproductsbyMinsaCode(productobject.minsa_code)">VER</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>

        <div class="flex gap-2 pb-5 pl-5">
          <button mat-raised-button class="bg-green-300 px-6 text-black rounded border border-black" (click)="exportToExcel()">EXPORTAR</button>
          <button mat-raised-button class="bg-green-300 px-6 text-black rounded border border-black" (click)="isEditMode = true">EDITAR</button>
          <button mat-raised-button class="bg-green-300 px-6 text-black rounded border border-black" (click)="saveChanges()">GUARDAR</button>
          <button mat-raised-button class="bg-green-300 px-6 text-black rounded border border-black" (click)="GoToRegisterProducts()">REGISTRAR PRODUCTO</button>
        </div>
      </div>

      <!-- Tabla -->
      <div class="overflow-auto shadow-md rounded border border-gray-300 max-h-[500px] max-w-[5000px] table-container">
        <table mat-table [dataSource]="enteredProducts" class="min-w-full mat-elevation-z1">

          <!-- Define columnas -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="sticky-header-col-1 bg-sky-300 text-white">CÓDIGO</th>
            <td mat-cell *matCellDef="let element" class="sticky-col-1">{{formatProductId(element.id) }}</td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef class="sticky-header-col-2 bg-sky-300 text-white">TIPO</th>
            <td mat-cell *matCellDef="let element" class="sticky-col-2">
              <ng-container *ngIf="isEditMode; else typeText">
                <input [(ngModel)]="element.type" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #typeText>
                {{ element.type}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="imported">
            <th mat-header-cell *matHeaderCellDef class="sticky-header-col-3 bg-sky-300 text-white">IMPORTADOS</th>
            <td mat-cell *matCellDef="let element" class="sticky-col-3">
              <ng-container *ngIf="isEditMode; else importedText">
                <input [(ngModel)]="element.imported" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #importedText>
                {{ element.imported}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="minsa_code">
            <th mat-header-cell *matHeaderCellDef class="sticky-header-col-4 bg-sky-300 text-white">COD MINSA</th>
            <td mat-cell *matCellDef="let element" class="sticky-col-4">
              <ng-container *ngIf="isEditMode; else minsaCodeText">
                <input [(ngModel)]="element.minsa_code" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #minsaCodeText>
                {{ element.minsa_code}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="minsa_description">
            <th mat-header-cell *matHeaderCellDef class="sticky-header-col-5 bg-sky-300 text-white">DESCRIPCIÓN REQUERIMIENTO</th>
            <td mat-cell *matCellDef="let element" class="sticky-col-5">
              <ng-container *ngIf="isEditMode; else minsaDescriptionText">
                <input [(ngModel)]="element.minsa_description" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #minsaDescriptionText>
                {{ element.minsa_description}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="sticky-header-col-6 bg-sky-300 text-white">DESCRIPCIÓN</th>
            <td mat-cell *matCellDef="let element" class="sticky-col-6">
              <ng-container *ngIf="isEditMode; else descriptionText">
                <input [(ngModel)]="element.description" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #descriptionText>
                {{ element.description}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">MARCA</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else brandText">
                <input [(ngModel)]="element.brand" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #brandText>
                {{ element.brand}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">MODELO</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else modelText">
                <input [(ngModel)]="element.model" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #modelText>
                {{ element.model}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="origin">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">PROCEDENCIA</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else originText">
                <input [(ngModel)]="element.origin" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #originText>
                {{ element.origin}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="serie">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">SERIE/LOTE</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.series && element.series.length > 0; else noSeries">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-select [(ngModel)]="element.selected_serie" (selectionChange)="onSerieChange()">
                    <mat-option *ngFor="let serie of element.series" [value]="serie">
                      {{ serie.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
              <ng-template #noSeries>
                <!-- Aquí puedes dejarlo vacío o poner un texto -->
                <span></span>
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="date_manufacture">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">AÑO DE FABRICACION</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else manufactureText">
                <div class="flex items-center gap-4">
                  <input [matDatepicker]="picker1" [(ngModel)]="element.date_manufacture" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </div>
              </ng-container>
              <ng-template #manufactureText>
                {{ element.date_manufacture | date: 'dd/MM/yyyy'}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="supplier">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">PROVEEDOR</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else supplierText">
                <input [(ngModel)]="element.supplier" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #supplierText>
                {{ element.supplier}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="entry_point">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">SEDE DE INGRESO</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else entrypointText">
                <input [(ngModel)]="element.entry_point" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #entrypointText>
                {{ element.entry_point}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">CANTIDAD DE SERIE/LOTE</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else quantityenterText">
                <ng-container *ngIf="element.selected_serie; else noSerieQuantity">
                  <input type=number [(ngModel)]="element.selected_serie.quantity" class="border border-gray-400 rounded px-2 py-1 w-full">
                </ng-container>
                <ng-template #noSerieQuantity>
                  <span>No hay serie, ni lote</span>
                </ng-template>
              </ng-container>
              <ng-template #quantityenterText>
                {{ getSelectedSerie(element)?.quantity | number:'1.0-0' }}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="quantity_total">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">CANTIDAD TOTAL ENTRADA</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else quantitytotalText">
                <input type=number [(ngModel)]="element.quantity_total" class="border border-gray-400 rounded px-2 py-1 w-full">
              </ng-container>
              <ng-template #quantitytotalText>
                {{ element.quantity_total}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">FECHA DE ENTRADA</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else dateentryText">
                <div class="flex items-center gap-4">
                  <input [matDatepicker]="picker2" [(ngModel)]="element.date" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </div>
              </ng-container>
              <ng-template #dateentryText>
                {{ element.date | date: 'dd/MM/yyyy'}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="entry_guide">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">GUIA INGRESO</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else entryguideText">
                <input [(ngModel)]="element.entry_guide" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #entryguideText>
                {{ element.entry_guide}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="proyect">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">PROYECTO</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else proyectenterText">
                <input [(ngModel)]="element.proyect" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #proyectenterText>
                {{ element.proyect}}
              </ng-template>
            </td>
          </ng-container>

          <!--<ng-container matColumnDef="responsible">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">RESPONSABLE</th>
            <td mat-cell *matCellDef="let element">{{ element.responsible}}</td>
          </ng-container>-->

          <!--
          <ng-container matColumnDef="coin_bill">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">TIPO DE MONEDA</th>
            <td mat-cell *matCellDef="let element">{{ element.coin_bill}}</td>
          </ng-container>-->

          <ng-container matColumnDef="unit_price">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">PRECIO UNITARIO</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else unitpriceText">
                <input type=number [(ngModel)]="element.unit_price" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #unitpriceText>
                <ng-container *ngIf="element.coin_bill === 'SOLES'">
                  S/.{{ element.unit_price | number:'1.2-2'}}
                </ng-container>

                <ng-container *ngIf="element.coin_bill === 'DOLARES'">
                  ${{ element.unit_price | number:'1.2-2'}}
                </ng-container>
            
                <ng-container *ngIf="element.coin_bill === 'EUROS'">
                  {{ element.unit_price | number:'1.2-2'}}€
                </ng-container>
              </ng-template>
            </td>
          </ng-container>
          <!-- Aqui agregarle una columna en el backend o tal vez lo pueda realizar sin eso
          <ng-container matColumnDef="total_amount">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">CANTIDAD DE SERIE/LOTE X PRECIO UNIT</th>
            <td mat-cell *matCellDef="let element">{{ element.total_amount | number:'1.2-2'}}</td>
          </ng-container>-->

          <ng-container matColumnDef="total_amount_2">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">CANTIDAD ENTRADA X PRECIO UNIT</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.coin_bill === 'SOLES'">
                S/.{{ element.total_amount_2 | number:'1.2-2'}}
              </ng-container>

              <ng-container *ngIf="element.coin_bill === 'DOLARES'">
                ${{ element.total_amount_2 | number:'1.2-2'}}
              </ng-container>
            
              <ng-container *ngIf="element.coin_bill === 'EUROS'">
                {{ element.total_amount_2 | number:'1.2-2'}}€
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="type_change">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">TIPO DE CAMBIO</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else typechangeText">
                <input type=number [(ngModel)]="element.type_change" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #typechangeText>
                {{ element.type_change}}  
              </ng-template>
            </td>
          </ng-container>
          <!--
          <ng-container matColumnDef="final_amount">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">PRECIO TOTAL SERIE/LOTE</th>
            <td mat-cell *matCellDef="let element">{{ element.final_amount | number:'1.2-2'}}</td>
          </ng-container>-->

          <ng-container matColumnDef="final_amount_2">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">MONTO TOTAL ENTRADAS</th>
            <td mat-cell *matCellDef="let element">
              S/.{{ element.final_amount_2 | number:'1.2-2'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="bill_text">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">FACTURA</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else bill_textText">
                <input [(ngModel)]="element.bill_text" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
              </ng-container>
              <ng-template #bill_textText>
                {{ element.bill_text}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="date_bill">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">FECHA DE FACTURA</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else datebillText">
                <div class="flex items-center gap-4">
                  <input [matDatepicker]="picker3" [(ngModel)]="element.date_bill" class="border border-gray-400 rounded px-2 py-1 w-[200px]">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </div>
              </ng-container>
              <ng-template #datebillText>
                {{ element.date_bill | date: 'dd/MM/yyyy'}}
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="edit_serie">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white"></th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button class="bg-green-300 px-6 text-black rounded border border-black" (click)="OpenEditSerie(element.id)">AGREGAR SERIE</button> 
            </td>
          </ng-container>

          <ng-container matColumnDef="delete_product">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white"></th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button class="bg-red-300 px-6 text-black rounded border border-black" (click)="DeleteProduct(element.id)">ELIMINAR PRODUCTO</button> 
            </td>
          </ng-container>

          <!-- Repite para el resto: proyecto, prioridad, fechas, progreso, done, observaciones, etc -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>