/* Usando ::ng-deep para el componente de sidenav */
.sidenav-container ::ng-deep a {
  display: flex;                /* Usa flexbox para alinear icono y texto en línea */
  align-items: center;          /* Alinea verticalmente el ícono y el texto */
  gap: 15px;                    /* Espacio entre el ícono y el texto */
  padding: 12px 20px;           /* Padding alrededor de cada enlace */
  text-decoration: none;        /* Elimina el subrayado */
  color: white;                 /* Color del texto */
  transition: background-color 0.3s ease;  /* Efecto suave al pasar el ratón */
  margin-top: 15px;             /* Aumenta el espacio superior entre los enlaces */
  margin-bottom: 15px;          /* Aumenta el espacio inferior entre los enlaces */
}

/* Estilo al pasar el ratón sobre el enlace */
.sidenav-container ::ng-deep a:hover {
  background-color: rgba(0, 0, 0, 0.1);    /* Fondo oscuro pero sutil al pasar el ratón */
  border-radius: 4px;           /* Bordes redondeados en el hover */
}

/* Estilo cuando el enlace es presionado */
.sidenav-container ::ng-deep a:active {
  background-color: rgba(0, 0, 0, 0.2);    /* Fondo ligeramente más oscuro cuando se presiona */
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra más fuerte al hacer click */
}

/* Estilo para el ícono */
.sidenav-container ::ng-deep mat-icon {
  font-size: 24px;              /* Tamaño del ícono */
}

.sidenav-container ::ng-deep .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo ligeramente más oscuro */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra interna más pronunciada */
}


/* Enlace activo con fondo distinto */
.active-link {
  font-weight: bold; /* Mantén el texto en negrita */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra interna sutil */
  background-color: rgba(0, 0, 0, 0.05); /* Fondo transparente con un toque */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Suaviza la transición */
}

@keyframes underlineGrow {
   from {
     width: 0;
   }
   to {
     width: 100%;
   }
}
 /* Clase base para los enlaces */
.nav-link {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}
  
/* Cambia de color al pasar el mouse */
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2); /* puedes ajustar el color */
}