<app-header-app (toggleSidebar)="opened = $event"></app-header-app>
<!-- Sidebar -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="opened" class="sidenav">
    <!-- Aquí irán los enlaces del navbar lateral -->
    <app-header-sidenav></app-header-sidenav> 
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="background-image: url('assets/images/fondo_2.png'); background-size: cover; background-repeat: no-repeat; background-position: center; min-height: 100vh;">
    <br>
    <mat-card class="w-4/5 mx-auto p-6 bg-white">
      <mat-card-title class="text-center title p-3 rounded mb-6 text-lg font-semibold">
        ASIGNACIÓN DE COORDINACIONES
      </mat-card-title>
      <form [formGroup]="coordinationform">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="flex items-center gap-2">
            <div class="pb-5 w-48 text-black">
              <label class="font-semibold">NOMBRE DE CLIENTE O PROYECTO:</label>
            </div>
            <mat-form-field appearance="outline" class="activitiesfields">
              <input matInput formControlName="clientname" [(ngModel)]="coordinationobject.clientname">
              <mat-error *ngIf="coordinationform.controls['clientname'].dirty && coordinationform.hasError('required') || coordinationform.controls['clientname'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
          </div>

          <div class="flex items-center gap-2">
            <div class="pb-5 w-48 text-black">
              <label class="font-semibold">DETALLE DE ACTIVIDAD:</label>
            </div>
            <mat-form-field appearance="outline" class="activitiesfields">
              <textarea matInput rows="4" formControlName="activity_detail" [(ngModel)]="coordinationobject.activity_detail"></textarea>
              <mat-error *ngIf="coordinationform.controls['activity_detail'].dirty && coordinationform.hasError('required') || coordinationform.controls['activity_detail'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
          </div>

          <div class="flex items-center gap-2">
            <div class="pb-5 w-48 text-black">
              <label class="font-semibold">FECHA DE LLEGADA:</label>
            </div>
            <mat-form-field appearance="outline" class="activitiesfields">
              <input matInput type="datetime-local" formControlName="arrival_date" [(ngModel)]="coordinationobject.arrival_date">
              <mat-error *ngIf="coordinationform.controls['arrival_date'].dirty && coordinationform.hasError('required') || coordinationform.controls['arrival_date'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
          </div>

          <div class="flex items-center gap-2">
            <div class="pb-5 w-48 text-black">
              <label class="font-semibold">FECHA DE INICIO:</label>
            </div>
            <mat-form-field appearance="outline" class="activitiesfields">
              <input matInput type="datetime-local" formControlName="initial_date" [(ngModel)]="coordinationobject.initial_date">
              <mat-error *ngIf="coordinationform.controls['initial_date'].dirty && coordinationform.hasError('required') || coordinationform.controls['initial_date'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
          </div>

          <div class="flex items-center gap-2">
            <div class="pb-5 w-48 text-black">
              <label class="font-semibold">PRIORIDAD:</label>
            </div>
            <mat-form-field appearance="outline" class="activitiesfields">
              <mat-select formControlName="priority" [(ngModel)]="coordinationobject.priority">
                  <mat-option *ngFor="let priority of prioritybox" [value]="priority">
                    {{ priority }}
                  </mat-option>
              </mat-select>
              <mat-error *ngIf="coordinationform.controls['priority'].dirty && coordinationform.hasError('required') || coordinationform.controls['priority'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
          </div>

          <div class="flex items-center gap-2">
            <div class="pb-5 w-48 text-black">
              <label class="font-semibold">ORDEN DE TRABAJO:</label>
            </div>
            <mat-form-field appearance="outline" class="activitiesfields">
              <mat-select formControlName="job_order" [(ngModel)]="coordinationobject.job_order">
                  <mat-option *ngFor="let job_order of orderbox" [value]="job_order">
                    {{ job_order }}
                  </mat-option>
              </mat-select>
              <mat-error *ngIf="coordinationform.controls['job_order'].dirty && coordinationform.hasError('required') || coordinationform.controls['job_order'].invalid">Complete este campo es requerido!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="flex justify-end mt-6 space-x-4">
          <button mat-raised-button class="bg-green-300 px-6 text-black" (click)="onReset()">Restablecer</button>
          <button mat-raised-button class="bg-green-300 px-6 text-black" (click)="CreateCoordination()">Crear</button>
        </div>
      </form>
    </mat-card>

    <div class="p-6">
      <div class="flex items-center justify-end mb-4">
        <div class="flex gap-2 pb-5">
          <button mat-raised-button class="bg-green-300 px-6 text-black rounded border border-black" (click)="isEditMode = true">EDITAR</button>
          <button mat-raised-button class="bg-green-300 px-6 text-black rounded border border-black" (click)="saveChanges()">GUARDAR</button>
        </div>
      </div>

      <!-- Tabla -->
      <div class="overflow-auto shadow-md rounded border border-gray-300 max-h-[500px] max-w-[5000px] table-container">
        <table mat-table [dataSource]="coordinationlist" class="min-w-full mat-elevation-z1">

          <!-- Define columnas -->
          <ng-container matColumnDef="pos">
            <th mat-header-cell *matHeaderCellDef class="sticky-header index-cell">#</th>
            <td mat-cell *matCellDef="let element" class="index-cell">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="fecha_registro">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">FECHA DE REGISTRO</th>
            <td mat-cell *matCellDef="let element">{{ element.register_date | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          </ng-container>

          <ng-container matColumnDef="cliente_proyecto">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">NOMBRE DEL CLIENTE O PROYECTO</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else clienteText">
                <input [(ngModel)]="element.clientname" class="border border-gray-400 rounded px-2 py-1 w-[300px]">
              </ng-container>
              <ng-template #clienteText>{{ element.clientname }}</ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="detalle_actividad">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">DETALLE DE ACTIVIDAD</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else activitydetailText">
                <input [(ngModel)]="element.activity_detail" class="border border-gray-400 rounded px-2 py-1 w-[300px]">
              </ng-container>
              <ng-template #activitydetailText>{{ element.activity_detail }}</ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="prioridad">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">PRIORIDAD</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else priorityText">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-select [(ngModel)]="element.priority">
                    <mat-option *ngFor="let priority of prioritybox" [value]="priority">
                      {{ priority }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
              <ng-template #priorityText>{{ element.priority }}</ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="orden_trabajo">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">ORDEN DE TRABAJO</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else orderText">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-select [(ngModel)]="element.job_order">
                    <mat-option *ngFor="let job_order of orderbox" [value]="job_order">
                      {{ job_order }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
              <ng-template #orderText>{{ element.job_order }}</ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="fecha_llegada">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">FECHA DE LLEGADA</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else destionationText">
                <input type="datetime-local" [(ngModel)]="element.arrival_date" class="border border-gray-400 rounded px-2 py-1 w-[300px]">
              </ng-container>
              <ng-template #destionationText>{{ element.arrival_date | date: 'dd/MM/yyyy HH:mm:ss': 'UTC'}}</ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="fecha_inicio">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">FECHA DE INICIO</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else initialText">
                <input type="datetime-local" [(ngModel)]="element.initial_date" class="border border-gray-400 rounded px-2 py-1 w-[300px]">
              </ng-container>
              <ng-template #initialText>{{ element.initial_date | date: 'dd/MM/yyyy HH:mm:ss': 'UTC'}}</ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="fecha_finalizacion">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">FECHA DE FINALIZACION</th>
            <td mat-cell *matCellDef="let element">{{ element.final_date | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          </ng-container>

          <ng-container matColumnDef="estado_actividad">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">ESTADO DE LA ACTIVIDAD</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else stateText">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-select [(ngModel)]="element.state">
                    <mat-option *ngFor="let state of statebox" [value]="state">
                      {{ state }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
              <ng-template #stateText>{{ element.state }}</ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="done">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">DONE</th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox
              [checked]="element.done == 1"
              (change)="onDoneChange($event.checked, element)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="observaciones">
            <th mat-header-cell *matHeaderCellDef class="sticky-header bg-sky-300 text-white">OBSERVACIONES</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="isEditMode; else observacionesText">
                <input [(ngModel)]="element.observation" class="border border-gray-400 rounded px-2 py-1 w-[300px]">
              </ng-container>
              <ng-template #observacionesText>{{ element.observation }}</ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef class="sticky-header action-cell"></th>
            <td mat-cell *matCellDef="let element" class="action-cell">
              <button mat-icon-button class="bg-red-500 px-6 text-black rounded border border-red" (click)="deleteCoordination(element.id)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
          <!-- Repite para el resto: proyecto, prioridad, fechas, progreso, done, observaciones, etc -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>