.activity-register-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

/* Estilo de las tarjetas de actividad */
.custom-card-bg {
  background-color: #d6eff9 !important;
}

.mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/* Títulos de los proyectos */
.project-title {
  margin: 20px 0;
  text-align: left;
}

.project-title .mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1e3a8a; /* Color del título */
  text-align: left;
}

/* Estilo para cada actividad */
.activity-card {
  margin-top: 10px;
}

.task-card {
  background-color: #f9f9f9;
  color: black;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Filtro de personal */
.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-icon {
  font-size: 24px;
}

/* Estilo de mensaje cuando no hay tareas activas */
.no-tasks-message {
  text-align: center;
  color: gray;
  font-size: 1.2rem;
  padding: 1rem;
}

/* Tareas completadas */
.completed-tasks {
  margin-top: 20px;
  padding: 10px;
  color: #1e3a8a;
}

.completed-task-card {
  background-color: #e0f7fa;
  color: black;
  padding: 15px;
  border-radius: 8px;
  margin: 10px 0;
}

.completed-tasks .mat-card-title{
  text-align: left;
}

/* Filtros y selección */
mat-select {
  width: 200px;
}

/* Botones */
.mat-raised-button {
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mat-raised-button:hover {
  background-color: #45a049;
}

/* Responsividad */
@media (max-width: 768px) {
  .activity-register-container {
    padding: 10px;
  }

  .task-card, .completed-task-card {
    padding: 10px;
  }

  mat-select {
    width: 100%;
  }

  .mat-raised-button {
    width: 100%;
  }
}