<app-header-app (toggleSidebar)="opened = $event"></app-header-app>
<!-- Sidebar -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="opened" class="sidenav">
    <!-- Aquí irán los enlaces del navbar lateral -->
    <app-header-sidenav></app-header-sidenav> 
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="p-6 activity-record-container" style="background-image: url('assets/images/fondo_2.png'); background-size: cover; background-repeat: no-repeat; background-position: center; min-height: 100vh;">
      <!-- Contenedor de filtro y tarea -->
      <mat-card class="w-full mx-auto p-6 custom-card-bg"> 
        <div class="flex items-center justify-between mb-4">
          <div *ngIf="this.userobject.rol != 3 && this.userobject.rol != 4" class="flex items-center gap-2">
            <mat-card class="w-full mx-auto p-6 custom-card-bg">
              <div class="flex items-center gap-4 flex-nowrap pt-4">
                <label class="font-semibold text-black pb-5">PERSONAL:</label>
                <mat-form-field appearance="outline" class="w-48">
                  <mat-select [(ngModel)]="activityobject.user" (selectionChange)="deployActivitiesbyUser(activityobject.user)">
                    <ng-container *ngFor="let user of userlist">
                      <mat-option *ngIf="user.rol != 2" [value]="user.id">
                        {{ user.name }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-card>
          </div>
        </div>

        <!-- Títulos de los proyectos -->
        <div *ngFor="let proyect of proyectlist">
          <!-- Título del Proyecto -->
          <div class="project-title">
            <mat-card-title class="font-semibold text-xl">{{ proyect.name }}</mat-card-title>
          </div>

          <!-- Mostrar actividades del proyecto -->
          <div *ngIf="(projectActivities.get(proyect.id)?.length ?? 0) > 0">
            <div *ngFor="let activity of projectActivities.get(proyect.id)" class="activity-card">
              <mat-card class="task-card">
                <mat-card-title>{{ activity.task }}</mat-card-title>
                <mat-card-content>
                  <p><strong>Detalle:</strong> {{ activity.detail }}</p>
                  <p><strong>Fecha de Asignación:</strong> {{ activity.asignation_date | date: 'dd/MM/yyyy' }}</p>
                  <p><strong>Fecha Límite:</strong> {{ activity.limit_date | date: 'dd/MM/yyyy' }}</p>
                  <p><strong>Estado:</strong> {{ activity.state }}</p>
                  <p><strong>Progreso:</strong> {{ activity.progress }}%</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>

          <!-- Si no hay tareas activas -->
          <div *ngIf="(projectActivities.get(proyect.id)?.length ?? 0) === 0" class="no-tasks-message">
            No active tasks for this project
          </div>

           <!-- Añadir un log aquí para verificar el contenido del Map 
          <div *ngIf="(projectActivities.get(proyect.id) || []).length === undefined" class="no-tasks-message">
            <p>Verificando actividades: {{ projectActivities.get(proyect.id) | json }}</p>
          </div>-->
        </div>

        <!-- Tareas completadas -->
        <div class="completed-tasks">
          <mat-card-title>Tareas Completadas</mat-card-title>
          <div *ngFor="let activity of activitylist">
            <div *ngIf="activity.state === 'TERMINADO' && activity.progress === '100%'">
              <mat-card class="completed-task-card">
              <mat-card-title>{{ activity.task }}</mat-card-title>
              <mat-card-content>
                <p><strong>Detalle:</strong> {{ activity.detail }}</p>
                <p><strong>Fecha de Finalización:</strong> {{ activity.finalization_date | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
              </mat-card-content>
            </mat-card>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>