::ng-deep mat-form-field {
    .mat-form-field-outline {
      color: black !important;
      border-color: black !important;
    }
  
    .mat-form-field-outline-thick {
      color: black !important;
      border-color: black !important;
    }
  }

  ::ng-deep .mat-form-field-label {
    color: black !important;
  }

::ng-deep th.mat-header-cell, 
::ng-deep td.mat-cell {
  vertical-align: middle !important;
  text-align: center !important;
}

::ng-deep th.mat-header-cell,
::ng-deep td.mat-cell {
  border: 1px solid grey !important;
}

::ng-deep td.mat-cell{
  color: black;
  background-color: white;
}

::ng-deep .mat-datepicker-toggle-default-icon {
  color: black !important;
  fill: black !important;
}

::ng-deep input.mat-input-element,
::ng-deep textarea.mat-input-element{
  color: black !important;
}

::ng-deep .mat-select-value {
  color: black !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: black !important;
}

.title{
  background-color: #87CEEB;
  color: white;
}

.sidenav {
  width: 250px; /* Ancho del sidebar */
  background-color: #2c3e50; /* Fondo del sidebar */
  color: white;
}

.mat-sidenav-content {
  flex: 1;
  overflow: auto;
}

.mat-toolbar {
  background-color: #87CEEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.mat-toolbar .mat-icon-button {
  display: inline-block;
}

.mat-toolbar img {
  height: 50px;
  border-radius: 50%;
}

/* Para el botón en la barra de herramientas */
.mat-toolbar button {
  background-color: transparent;
  border: none;
  color: white;
}

/* Responsividad */
@media (max-width: 768px) {
  .sidenav {
    width: 100%;
  }
}