<header>
  <mat-toolbar class="headbar">
      <a style="cursor: pointer;">
        <img src="assets/images/medimatic-logo.png" class="h-10">
      </a>
      <div class="flex-auto"></div>
        <a (click)="GoToRegister()" style="cursor: pointer;" class="flex items-center gap-2 cursor-pointer"><mat-icon>book</mat-icon> Registro</a>
        <div class="pr-10"></div>
        <a (click)="GoToActivities()" style="cursor: pointer;" class="flex items-center gap-2 cursor-pointer"><mat-icon>list_alt</mat-icon> Actividades</a>
        <div class="pr-10"></div>
        <a (click)="GoToCoordination()" style="cursor: pointer;" class="flex items-center gap-2 cursor-pointer"><mat-icon>group</mat-icon> Coordinación</a>
        <div class="pr-10"></div>
        <a (click)="GoToLogin()" style="cursor: pointer;" class="flex items-center gap-2 cursor-pointer"><mat-icon>exit_to_app</mat-icon> Salir</a>
        <div class="pr-10"></div>
        <img  class="h-14" style="border-radius: 50%;">
        <div class="pr-2"></div>
  </mat-toolbar>
</header>